<!-- index.ejs -->

<!DOCTYPE html>
<html lang="en">
<%- include('header') %>
<body>
    <h1><%= title %></h1>
    <a href="/new">Add New Message</a>
    <% for (let message of messages) { %>
        <ul>
            <li>
                <div>
                      <%= message.added %>
                </div>
                <div>
                     <%= message.user %>
                </div>
                <div>
                    <%= message.text %>
                </div>
                <a href="/messages/<%= message.id %>" target="_blank">Open</a>
            </li>
        </ul>   
    <% } %>
</body>
</html>


